<!DOCTYPE html>
<html>
  <head>
    <title>leica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
   <nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container">
 <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">


<% if admin_signed_in? %>
 <li class="nav-item">
  <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
   <button class="btn btn-md btn-light" type="submit">
    会員一覧
   </button>
  <% end %>
 </li>
 <li class="nav-item">
  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
   <button class="btn btn-md btn-light" type="submit">
    ログアウト
   </button>
  <% end %>
 </li>
 <% end %>

<% unless admin_signed_in? %>
 <li class="nav-item">
  <%= link_to new_user_session_path,class: 'nav-link text-dark' do %>
  <button class="btn btn-md btn-light" type="submit">
   ログイン
  </button>
  <% end %>
 </li>
 <% end %>
</ul>
</div>
</div>
</nav>

    <%= yield %>
  </body>
</html>