  <h5 class="text-center mt-5">
    <i class="fa-solid fa-camera"></i>
      Leicagramは、一眼カメラに特化したSNSです。<br>
      新規登録して、あなたの一眼カメラで撮られた写真をシェアしよう！<br>
      また、様々な一眼カメラで撮られた写真を楽しもう！
  </h5>

  <div class="container mt-5">
    <div class="row">
  <%= image_tag 'DSC01836.JPG', width: '33%', height: '50%' %>
  <%= image_tag 'DSC02870.JPG', width: '33%', height: '50%' %>
  <%= image_tag 'DSC01947.JPG', width: '33%', height: '50%' %>
  </div>
  <div class="row">
    <%= image_tag 'DSC01845.JPG', width: '33%', height: '50%' %>
    <%= image_tag 'DSC01865.JPG', width: '33%', height: '50%' %>
    <%= image_tag 'DSC01915.JPG', width: '33%', height: '50%' %>
  </div>
  </div>



